.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    float: left;
    width: 721px;
    height: 455px;
}

.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}

.news {
    height: 165px;
    /* background-color: pink; */
    border: 1px solid #e4e4e4;
}

.news .news_hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e8e8e7;
    margin: 0 15px;
}

.news .news_hd h5 {
    float: left;
    font-size: 14px;
    color: #333333;
}

.news_hd .more {
    float: right;
    font-size: 14px;
    color: #333333;
}

.news_bd {
    padding: 5px 15px 0;
}

.news_bd ul li {
    height: 24px;
    line-height: 24px;
    /* 让溢出的文字用省略号代替... 三部曲 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news_hd .more::after {
    font-family: icomoon;
    content: '\e920';
}

.lifeservice {
    overflow: hidden;
    height: 209px;
    /* background-color: purple; */
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i {
    margin-top: 12px;
    display: inline-block;
    width: 20px;
    height: 24px;
    /* background-color: pink; */
    background: url(../images/icons.png) no-repeat -19PX -16PX;
}

.bargain {
    margin-top: 5px;
}

/* 推荐模块 */
.recom {

    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}

.recom .recom_hd {
    float: left;
    width: 205px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom .recom_bd {
    float: left;
}

.recom .recom_bd ul li {
    position: relative;
    float: left;
}

.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom .recom_bd ul li:nth-child(-n+3):after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 145px;
    background-color: #dddddd;
}

.box_hd {
    height: 30px;
    /* margin-top: 30px; */
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: normal;
}

.tab_list {
    float: right;
    line-height: 30px;
}

.box_hd ul li {
    float: left;
}

.box_hd ul li a {
    margin: 0 15px;
}

.floor .w {
    margin-top: 30px;
}

.box_bd {
    height: 361px;
    /* background-color: pink; */
}

.tab_list_item>div {
    float: left;
    height: 361px;
}

.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}

.col_210 ul li {
    width: 85px;
    height: 34px;
    float: left;
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
    text-align: center;
    line-height: 33px;
}

.col_210 ul {
    padding-left: 12px;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}

.col_219 {
    width: 219px;
}

.bb {
    /* 一般情况下,a如果包含了有宽度的盒子,a需要转为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}