/* 列表页专有的css */
.nav {
    overflow: hidden;
}

.sk {
    position: absolute;
    left: 184px;
    top: 40px;
    border-left: 1px solid #c81523;
    padding: 2px 0 0 12px;
}

.sk_list {
    float: left;
}

.sk_list ul li {
    float: left;

}

.sk_list ul li a {
    display: block;
    line-height: 47px;
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    padding: 0 25px;
}

.sk_con {
    float: left;
}

.sk_con ul li {
    float: left;
}

.sk_con ul li a {
    display: block;
    line-height: 50px;
    font-size: 14px;
    color: #666666;
    padding: 0 23px;
}

.sk_con ul li .style_red {
    color: red;
}

.sk_con ul li:last-child a::after {
    content: '\e91e';
    font-family: icomoon;
}

.sk_hd {
    float: left;
    height: 120px;
    /* background-color: pink; */
}

.sk_bd {
    float: left;
}

.sk_bd ul li {
    overflow: hidden;
    float: left;
    width: 290px;
    height: 460px;
    margin-right: 13px;
    border: 1px solid transparent;
}

.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}

.sk_bd ul li:hover {
    border: 1px solid #c81523;
}